ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 238, 184);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(30, 56, 68);
    text-align: center;
    padding: 10px;
    background-color: rgb(248, 238, 184);
  }
  .footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
    text-align: center;
    
}

.bgt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(157, 175, 199);
  text-align: center;
  
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}  

.header {
  font-family: fantasy;
  color: bisque;
  text-align: center;
  
}